{% extends 'base.html' %}

{% block content %}
    <h1 id="title">{% block title %} Create your own guide {% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
            <input type="text" name="title" value="{{ request.form['title'] }}"/>
        <br>
        <label for="content">Post Content</label>
        <br>
        <textarea name="content" placeholder="Post content" rows="15" cols="60">
            {{ request.form['content'] }}
        </textarea>
        <br>
        <button id="button" type="submit">Submit</button>
    </form>
{% endblock %}