{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <form method="post">
            <label for="title">
                <br>
                <input type="text" name="title"
                       placeholder="Post title"
                       value="{{ request.form['title'] }}">
            </label>
            <br>

            <label for="content">
                <br>
                Description
                <br>
                <textarea name="content" rows="15" cols="60">
                {{ request.form['content'] }}
            </textarea>
            </label>
            <br>
            <label for="country">
                <br>
                <input type="text" name="country"
                       placeholder="Country"
                       value="{{ request.form['country'] }}">
            </label>
            <br>
            <label for="city">
                <br>
                <input type="text" name="city"
                       placeholder="City"
                       value="{{ request.form['city'] }}">
            </label>
            <br>
            <label for="language">
                <br>
                <input type="text" name="language"
                       placeholder="Language"
                       value="{{ request.form['language'] }}">
            </label>
            <br>
            <label for="price">
                <br>
                <input type="text" name="price"
                       placeholder="Price per hour"
                       value="{{ request.form['price'] }}">
            </label>
            <br>
            <br>
            <button id="button" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}