{% extends 'base.html' %}

{% block content %}
    <h1 id="title">{% block title %} All guides {% endblock %}</h1>
    {% for post in posts %}
        <div class='post'>
            <h3>
                <a id="profile"
                   href="{{ url_for('viewProfile', id=post['id'], u=post['byUser']) }}">{{ post['firstname'] }} {{ post['lastname'] }}</a>
            </h3>
            <p id="date">{{ post['created'] }}</p>
            <h2>{{ post['title'] }}</h2>
            <h3>{{ post['city'] }}, {{ post['country'] }}</h3>
            <a href="{{ url_for('view', id=post['id']) }}">View</a>
        </div>
    {% endfor %}
{% endblock %}