{% extends 'base.html' %}

{% block content %}
    {% for message in message %}
        <div class='post'>
            <p id="date">{{ message['firstname'] }} ({{ message['date'] }})</p>
            <div id="textsec">
                <p>{{ message['content'] }}</p>
            </div>
        </div>
    {% endfor %}
    <form id="message-form" method="post">
        <textarea id="messagearea" name="message" placeholder="Type here">
            {{ request.form['message'] }}
        </textarea>
        <button id="send-button" type="submit">SEND</button>
    </form>
{% endblock %}
