{% extends 'base.html' %}

{% block content %}
    <div class='post'>
        <object class="pp" data="{{ url_for('static', filename=image['img']) }}">
            <img src="{{ url_for('static', filename='placeholder.png') }}" alt="profile picture">
        </object>

        <h1>{{ user['firstname'] }} {{ user['lastname'] }}</h1>

        <div id="textsec">
            <h3>Age: {{ user['age'] }}</h3>
            <h3>Country: {{ user['country'] }}</h3>
        </div>

        <form method="post" action="/profile/">
            <button id="button" type="submit" value="1" name="redirect">My guides</button>
            <button id="button" type="submit" value="2" name="redirect">Create guide</button>
            <button id="button" type="submit" value="3" name="redirect">Upload image</button>
        </form>
    </div>
    <h1 id="title">Upcoming guides</h1>
    {% for guide in guide %}
        <div class='post'>
            <h3>
                <a id="profile"
                   href="{{ url_for('viewProfile', id=guide['guide'], u=guide['byUser']) }}">{{ guide['firstname'] }} {{ guide['lastname'] }}
                </a>
            </h3>
            <p id="date">({{ guide['from_date'] }}) - ({{ guide['to_date'] }})</p>
            <h2>{{ guide['title'] }}</h2>
            <div id="textsec">
                <p>{{ guide['content'] }}</p>
            </div>
            <h3>{{ guide['city'] }}, {{ guide['country'] }}</h3>
            <a href="{{ url_for('view', id=guide['guide']) }}">View</a>
        </div>
    {% endfor %}
{% endblock %}