{% extends 'base.html' %}

{% block content %}
    <div class='post'>
        <h3>
            <a id="profile"
               href="{{ url_for('viewProfile', id=posts['id'], u=posts['byUser']) }}">{{ posts['firstname'] }} {{ posts['lastname'] }}</a>
        </h3>
        <h2>{{ posts['title'] }}</h2>
        <p id="date">{{ posts['created'] }}</p>
        <div id="textsec">
            <p>{{ posts['content'] }}</p>
        </div>
        <h3>{{ posts['city'] }}, {{ posts['country'] }}</h3>
        <p>{{ posts['language'] }}</p>
        <br>
        <h3>
            <a href="{{ url_for('rent', id=posts['id']) }}">Rent guide</a> {{ posts['price'] }}kr /hour.
        </h3>

    </div>
{% endblock %}